{% extends "base.html" %}
{% block content %}
        <div class="row">
            <div class="col-md-4">
                <div class="card rounded-0">
                    <div class="card-header rounded-0 border-0 px-4" style="background-color: #7fad39">
                        <p class="fw-bold text-white my-0 d-inline-block"><i class="fa fa-list"></i> &nbsp;All
                            departments
                        </p>
                        <i class="fa fa-chevron-down d-inline-block text-white float-end my-1"></i>
                    </div>
                    <div class="card-header bg-white px-4">
                        <p>Fresh Meat</p>
                        <p>Vegetables</p>
                        <p>Fruit & Nut Gifts</p>
                        <p>Fresh Berries</p>
                        <p>Ocean Foods</p>
                        <p>Butter & Eggs</p>
                        <p>Fresh Onion</p>
                        <p>Oatmeal</p>
                        <p>Fresh Bananas</p>
                    </div>
                </div>
            </div>
            <div class="col-md-8 px-5" style="background: url('https://ivankitanovski.github.io/exam/banner.jpg')
              no-repeat;
              height: 70vh;
width:65%;">
                <h4 class="mt-5" style="color: #7fad39">FRUIT FRESH</h4>
                <h1 class="display-3 mt-1 fw-bold">
                    Vegetable
                </h1>
                <h1 class="display-3 fw-bold">
                    100% Organic
                </h1>
                <p class="display-6 mt-1">Free Pickup and Delivery Available</p>
                <a class="btn rounded-0 fw-bold mt-2" style="color: white; background-color: #7fad39" href="/outofstock">OUT OF STOCK</a>
            </div>
        </div>
    <div>
        <h1 class="text-center display-5">From The Blog</h1>
        <hr style="width: 5%; margin: auto; background-color: #7fad39">
    </div>
    <div class="row mt-3" style="margin-left: 5%">
        <div class="col-md-4">
            <div class="card" style="width: 21rem;">
                <img src="https://ivankitanovski.github.io/exam/blog-1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Cooking tips make cooking simple</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 21rem;">
                <img src="https://ivankitanovski.github.io/exam/blog-2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Cooking tips make cooking simple</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 21rem;">
                <img src="https://ivankitanovski.github.io/exam/blog-3.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Cooking tips make cooking simple</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}